.collapse {
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  margin-left:10%;
  margin-right: 10%;
  .arrow {
    transform: rotate(0deg);
    transition: .3s;
  }
  .arrow-expanded {
    transform: rotate(180deg);
  }
  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #FFF;
    background: #FF6060;
    border-radius: 5px;
    z-index: 10;
  }
  .content {
    transition: .3s;
    transform: translateY(0);
    &.collapse-expanded {
      background: #F6F6F6;
      padding: 16px;
      transform: translateY(0);
      flex-direction: column;
      line-height: 25px;
      display: flex;
      p, span {
        margin: 0;
        color: #FF6060;

      }
    }
  }
  .collapse-hidden {
    display: none;
    transform: translateY(-100%);
  }
}
  @media screen and (max-width: 427px) {

    .collapse-header {
      font-size: 13px;
    }
    .collapse{

      margin-top: 20px;
    }
    .content.collapse-expanded {
      line-height: 17px;
    }
    p, span {
      font-size: 12px;
      color: #fff;
    }
  }

