.rating {
  display: flex;
  gap: 10px;
  padding-top: 24px;


}



.tailleStar {
  width: 30px;
  height: 30px;
}

@media screen and (max-width:427px) {
  .rating {
    width: 100px;
  }
  .tailleStar{
    width: 15px;
    height: 15px;
  }
}