#container-dropdownApropos{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center ;
}

.dropdowndiv{
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

@media screen and (max-width: 427px){
  #container-dropdownApropos{
    margin-top: 0px;
  }
  .dropdowndiv{
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
  }
}