
.containerError{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}



.error404{

  font-size: 250px;
  color: #FF6060;
  font-weight: 700;
  display: flex;
  justify-content: center;
}



.oups{
  color: #FF6060;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: -200px;
}

.backToHome{
  color: #FF6060;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: none;
  text-decoration: none;
}
#border{
  text-decoration: none;

}