.Logo {
  margin-left: 90px;
  
}

.HeaderBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  
}
.NavHeader{
  display: flex;
  margin-right: 90px;
  flex-direction: row;
  border-bottom: 3px solid transparent;
}

#NavAcceuil{
  padding-right: 20px;
  color: #FF6060;
  font-size: 24px;
  font-weight: 500;
}

#A-propos{
  color: #FF6060;
  font-size: 24px;
  font-weight: 500;

}
.NavHeaderActive{
  border-bottom: 2px solid #FF6060;

}


.borderBottom{
  text-decoration:none;
}

#HeaderMenu{
  display: flex;
}
@media screen and (max-width: 426px){
  .Logo{
    width: 30%;
    margin-left: 10px;
  }
  .logoImg{
    width:100%;
  }
 .HeaderBar{
  justify-content: space-around;
 }
  #A-propos{
    padding-right: 20px;

  }
}
